    :root {
        --bg-color-main: #ffffff;
        --bg-color-header: #36383e;
        --text-color: #333333;
        --monospace: 'Lucida Console', Consolas, 'Courier', monospace
    }

    html {
        font-size: 16px;
        background-color: var(--bg-color-main);
        -webkit-font-smoothing: antialiased
    }

    body {
        color: var(--text-color);
        margin: 0;
        padding: 0;
        font-family: Cambria, Georgia, serif;
        line-height: 1.6
    }

    code {
        background-color: #f3f4f4;
        padding: 0 2px;
        border-radius: 3px;
        font-family: var(--monospace), serif;
        border: 1px solid #e7eaed;
        text-align: left;
        vertical-align: initial
    }

	svg {
		padding: 0;
		margin: 0;
	}

    #sander-lammertink {
        line-height: 0;
        padding-top: 50px;
    }

    #banner-container, #main-container {
        display: flex;
        flex-direction: row
    }

    #banner, #main-left-content code {
        color: #fff;
        background-color: var(--bg-color-header);
    }

    #banner h1 {
        font-size: 3em
    }

    #banner h2 {
        font-weight: 400;
        font-size: 2em;
        margin-bottom: 50px;
    }

    #banner-left img {
        display: block;
        margin: auto;
        width: 70%
    }

    #banner-left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 350px
    }

    #banner-right {
        padding-left: 40px
    }

    #main-left-content, #main-right-content {
        padding-left: 40px;
        padding-right: 40px
    }

    #main-right-content {
        padding-top: 65px;
    }

    #main-left {
        background-color: #ede8e3;
        flex: 0 0 350px
    }

    #main-left svg {
        fill: var(--bg-color-header)
    }

    #main-left-content a {
        color: inherit
    }

    #main-left-content h1 {
        border-bottom: none
    }

    #main-left-content p {
        margin-bottom: 0;
        margin-top: 0
    }

    #main-left-content code {
        border-radius: 10px;
        padding: 2px 8px
    }

    #main-left-content div {
        padding-bottom: 10px
    }

    #email svg, #location svg, #phone svg {
        background-color: var(--bg-color-header);
        line-height: 1.6;
        fill: white;
        display: inline-block;
        vertical-align: middle;
        border: 4px solid #36383e;
        border-radius: 50%;
        margin-right: 5px
    }

    #opleiding, #vaardigheden, #werkervaring {
        margin-top: 2rem;
    }

    h1, h3, h4 {
        font-weight: 700
    }

    h1 {
        font-size: 1.5em;
        line-height: 1.2em;
        border-bottom: 2px solid var(--text-color);
        cursor: text
    }

    p {
        margin: 1em 0
    }

    code, h4 {
        font-size: .9em
    }

    h3, h4 {
        line-height: 1em;
        margin: 0
    }

    h3 {
        margin-top: 1em
    }

    h4 {
        margin-bottom: .5rem;
        color: #a5a5a5
    }
